@import "../helpers/mixins";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}

.ThankYouCard {
  background-image: linear-gradient(to bottom, var(--dark-blue), var(--very-dark-blue));
  width: 400px;
  padding: 30px;
  @include prefix(border-radius, 16px);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  @include prefix(transition, opacity .6s);

  &.active {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .ThankYouCard {
    width: 100%;
  }
}

.imgHolder {
  user-select: none;
}

.rate {
  background-color: var(--light-dark-blue);
  color: var(--orange);
  margin-top: 20px;
  padding: 8px 22px;
  @include prefix(border-radius, 50px);
}

.title {
  color: var(--white);
  margin: 40px 0 20px;
  font-size: 1.75rem;
}

.description {
  color: var(--light-grey);
  font-size: .9375rem;
  line-height: 1.5;
  text-align: center;
}