* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  background-color: var(--very-dark-blue);
  overflow: hidden;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --light-dark-blue: hsl(212, 19%, 20%);
}

::selection {
  background-color: var(--very-dark-blue);
}

.container {
  width: 80%;
  margin: 0 auto;
}